/* 3 */
.box1{
    margin: 20px 0px;
    width: 30%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.952);
    margin-left: 65%;
    margin-bottom: 5px;
    border-radius: 15px;
}
.box2{
    margin: 3% 0px;
    width: 30%;
    height: 800px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 35%;
    border-radius: 15px;
    
}
.atas{
    padding-top: 30px;
}
.email{
    color: black;
    padding-top: 100px;
    padding-bottom: -20px;

}
.forgot{
    margin-top: -30px;
    margin-right: 20px;
    font-size: 12px;
}
.tombol{
    width: 80%;
    height: 60px;
}
/*  */
.subtombol{
height: 200px;
/* width: 200px; */
}
.with{
    padding-top: -30px;
}
.m50{
    margin-top: 15px;
}

.google-btn {
  /* width: 300px; */
  height: 42px;
  background-color: #4285f4;
  border-radius: 5px;
  box-shadow: 4px 3px 4px 3px rgba(255, 255, 255, 0.25);
margin: 20px 0px;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    /* position: absolute; */
    margin-top: 11px;
    margin-left: 11px;
    width: 20px;
    height: 20px;
  }
  .btn-text {
    float: left;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size:12px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    padding-left: 47px;
    
  }
  .fb-btn {
    /* width: 300px; */
    height: 42px;
    background-color: #004cc5;
    border-radius: 5px;
    box-shadow: 4px 3px 4px 3px rgba(255, 255, 255, 0.25);
  margin: 20px 0px;
  }
  .fb-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .fb-icon {
    width: 40px;
    height: 40px;
  }


.fb{
    background-image: url('../images/login/fb.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0);
}

.signup{
    padding: 5px;
    font-size: 11px;
    
}
.isian{
    font-size: 12px;
}


.main {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  height: 400px;
  width: 300px;
  margin-top: 15%;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgb(0, 0, 0);
}

.pass {
  display: flex;
  flex-direction: column;
}

.image h2 {
  color: rgb(2, 149, 27);
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.username input,
.pass input {
  font-family: sans-serif;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 100px;
  border: none;
  text-align: center;
  outline: none;
}
